<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Booking Information</h1>
    <h2>{{ user.username }}</h2>
    {% for item in items %}
    <div class="box" style="border: 5px solid black;">
    <h2>{{ item.id }}</h2>
    <h3>Fuel Type: {{ item.fuel_type }}</h3>
    <h5>Amount: {{ item.fuel_amount}} (ltr)</h5>
    <h5>Price: {{ item.price}}(Taka)</h5>
    </div>
    {% endfor %}
</body>
</html>